[Unit]
Description=AfterTouch SoundTouch Player
Documentation=https://github.com/gesellix/Bose-SoundTouch
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=true
EnvironmentFile=/data/aftertouch-player/config.env
WorkingDirectory=/data/aftertouch-player/current
ExecStart=/data/aftertouch-player/run.sh
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
UMask=0077

[Install]
WantedBy=multi-user.target
